.news-card{
    border: 2px solid silver;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    width: 80%;
}

.news-header{
    max-height: 35px;
    overflow: hidden;
}

.news-card img {
    height: 200px;
}