<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to BNTU</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-float.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-float.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/style/navbar.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="navbar">
    <header class="sticky-shrinknav-header">
        <h1 class="sticky-shrinknav-header-title">Belarusian National Technical University</h1>
        <ul class="menu align-center sticky-shrinknav-menu">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/faculties">Faculties</a></li>
            <li><a href="/contacts">Contact</a></li>
        </ul>
    </header>
</div>


<div class="container">

    <div th:each="news : ${newsList}">
        <div class="card columns" style="width: 300px;">
            <div class="card-divider" th:text="${news.title}">
            </div>
            <img th:src="${news.path}" style="max-width: 200px;max-height: 200px;margin: auto">
            <div class="card-section">
                <h4 th:text="'Type: ' + ${news.type}"></h4>
                <p style="overflow: hidden;max-height: 65px" th:text="${news.content}"></p>
                <a th:href="'/news/' + ${news.id}" class="btn btn-primary">READ MORE</a>
            </div>
        </div>
    </div>
</div>


<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        const dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 3000); // Change image every 2 seconds
    }
</script>

<script>
    $(function () {
        $(window).scroll(function () {
            let winTop = $(window).scrollTop();
            if (winTop >= 30) {
                $("body").addClass("sticky-shrinknav-wrapper");
            } else {
                $("body").removeClass("sticky-shrinknav-wrapper");
            }
        });
    });
</script>

</body>
</html>